article.page{
	table{
		background: none;
		border-width: 0px;
		border-spacing: 0;
		margin-top: 10px;
		margin-bottom: 0px;
		th{
			background: none;
		}
		td{
		padding: 10px 10px;
			text-align: center;
		}
		tr{
			background: none;
			&:nth-of-type(2n){
					background: none;
				}
		}
	}

	.apps{
		margin-left: auto ;
  		margin-right: auto ;
		max-width: 80%;
		text-align: justified;
//		background-color: red;
	}

	.app{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin: 1.0em 3%;
		width: 26%;
//		background-color:green;

		font-size: 0.8em;
	}

	img, video{
			width: 100%;
			height: auto;
			-webkit-border-radius:20%;
			-moz-border-radius:20%;
			border-radius:20%;
			-webkit-border-radius:20%;
			-moz-border-radius:20%;
			border-radius:20%;
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.35);
			-moz-box-shadow:0 0 15px rgba(0,0,0,0.35);
			box-shadow:0 0 15px rgba(0,0,0,0.35);
			border-bottom: 0px;
			display: block;
			margin-left: auto;
    		margin-right: auto
		}
}